<main
  class="items-center flex h-screen w-full container p-10 mx-auto justify-center space-x-20"
>
  <app-grid [rows]="rows" [cols]="cols" [xPos]="xPos" [yPos]="yPos" />

  <app-controller
    (rowsChangedEvent)="setRows($event)"
    (colsChangedEvent)="setCols($event)"
    (startGameEvent)="startGame()"
    (resetGameEvent)="resetGame()"
    (xChangeEvent)="setX($event)"
    (yChangeEvent)="setY($event)"
    [gameStarted]="gameStarted"
    [xPos]="xPos"
    [yPos]="yPos"
    [rows]="rows.length"
    [cols]="cols.length"
  />
</main>
